
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1471844937_7083051.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1471844937_7083051.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1471844937_7083051.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1471844937_7083051.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1471844937_7083051.svg#iconfont') format('svg'); /* iOS 4.1- */
}



* {
  padding: 0;
  margin: 0;
}

#calendar{
  width: 300px;
  margin: 5% 30%;

}
.date-input {
  height: 30px;
  width: 252px;
  border-radius:3px;
  background-color: rgba(218, 220, 226, 0.68);
}
.date-input .date-iconfont{
  font-family:"iconfont";
  font-size:20px;font-style:normal;
  width: 20px;
  height: 25px;
  margin: 0 10px;
  text-align: center;
  cursor:pointer;
}
.date-input .date-iconfont:hover{
  color: rgb(246, 122, 122);
}
.date-input input{
    height: 26px;
    width: 208px;
}
.date{
  width: 240px;
  margin-top: 2px;
  background-color: #fff;
  border: 1px solid rgba(108, 166, 184, 0.6);
  padding: 5px;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  position: absolute;
  z-index: 999;
}
.date .head .year, .month{
    display: inline-block;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
}
.date .head  i{
   display: inline-block;
   width: 15px;
   font-style: normal;
   border: 1px solid rgba(167, 180, 172, 0.64);
   cursor:pointer;
}
.date .head  i:hover{
  border: 1px solid rgba(54, 197, 207, 0.89);
  color: rgba(54, 197, 207, 0.89);
}
.date .head span{
  display: inline-block;
  padding: 0 5px;
  width: 40px;
  border-top: 1px solid rgba(167, 180, 172, 0.64);
  border-bottom: 1px solid rgba(167, 180, 172, 0.64);
}
.date .year{
    margin: 0px 18px 5px 18px;
}


.date table{
  text-align: center;
  line-height: 30px;
  margin: 5px;
  border-top: 1px solid rgb(26, 121, 232);
}
.date table td{
    width: 30px;
    height: 30px;
    border-radius:5px;
}
.date table .clickable{
  width: 100%;
  height: 100%;
  display: inline-block;

}
.date table .unclickable{
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(170, 161, 168, 0.2);
  color: rgba(174, 181, 166, 0.68);
}
.date table .elseMonth {
   color: rgba(174, 181, 166, 0.68);
}
.date table tr th:first-child{
   color: #f00;
}
.date table tr th:last-child{
   color: #f00;
}
.date table tr td:first-child{
   color: #f00;
}
.date table tr td:last-child{
   color: #f00;
}
.date table td:hover .clickable{
  /*outline: 2px solid rgb(233, 216, 98);*/
  background-color: rgba(230, 131, 131,0.3);
  cursor:pointer;
}
