@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1471529238_5541904.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1471529238_5541904.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1471529238_5541904.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1471529238_5541904.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1471529238_5541904.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.scor-table .iconfont1{
  font-family:"iconfont";
  font-size:8px;font-style:normal;
  position: absolute;
  top: -8px;
  left: 80px;
  cursor:pointer;
}
.scor-table .iconfont2{
  font-family:"iconfont";
  font-size:8px;font-style:normal;
  position: absolute;
  top: 10px;
  left: 80px;
  cursor:pointer;
}
.scor-table .iconfont1:hover, .iconfont2:hover{
  color: rgb(227, 89, 89);
}


.scor-table table{
  border-collapse: collapse;
  text-align: center;
  line-height: 40px;
}

.scor-table td{
  border: 1px solid rgb(198, 212, 207);
  width: 100px;
  height: 40px;
}

.scor-table tr:first-child td{
  background-color: rgb(85, 82, 75);
  color: rgb(255, 255, 255);
  position: relative;
}
